body {
    background-color: #f0f0f0;
    font: "Pontano Sans",sans-serif;
}

#home #accounts-list {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#accounts-list div:nth-child(2) > p:nth-child(1) {
    background-color: #039be5;
    color: #ffffff;
}

#accounts-list div:nth-child(2) > p:nth-child(2) {
    border: 3px solid #039be5;
    color: #039be5;
}

.inline {
    display: flex;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}